<div>
    <h1>HTML:- HTML is a Hyper text markup language</h1>
</div>

<div>
    <h1>Doctype tells the browser which version of html it is and how to interpret the code</h1>
</div>

<div>
    <h1>Meta tags in html are elements use to provide meta data or additional information about web page</h1>
</div>

<div>
    <h1>There are two type of elements Block level and Inline level</h1>
    <h1>Bloack Level: it take 100 percent width for the page  DIV, H tages</h1>
    <h1>Inline Level: it take width of the content   SPAN,Input, a</h1>
</div>

<div>
    <h1>Semantic elements in HTML are elements that provide meaning to the content they conatin</h1>
    <h1>Header</h1>
    <h1>Main</h1>
    <h1>Section</h1>
    <h1>Footer</h1>
    <h1>Address</h1>
</div>


<div>
    <h1>What is SEO</h1>
    <h1>Search engine optimization, following sematic HTML, Optimize page titles, meta description tags, proper heading tags</h1>
</div>