<h1>Observable vs Promise</h1>
<div class="container">
    <div>
        <h1>Observal</h1>
        <ul>
            <li>Observable ara lazy without subscribe it will not return</li>
            <li>Observable emit multiple time using next</li>
            <li>Observable Can we cancel using unsubscribe</li>
            <li>Observable is a Multicaste can be subscribe in multiple places</li>
        </ul>
        <h3>Example: </h3>
    </div>
    <div>
        <h1>Promise</h1>
        <ul>
            <li>promise ara not lazy having three stages <b>Pending, Fulfilled and Rejected</b></li>
            <li>Promise emits single value.Cannot cancel and it is unicast</li>
        </ul>
        <h3>Example: </h3>
    </div>
</div>