<div class="container">
    function abc()&#123;
    console.log(abc.xyz)
    &#125;

    abc() //undefined
    abc.xyz = 400;
    abc.xyz = 200;
    abc() //200
</div>

<div class="container">


    console.log(typeof typeof 100) //string

</div>
<div class="container">

    const a = [...'string']</div>
<div class="container">
    console.log(a) //[ 's', 't', 'r', 'i', 'n', 'g' ]</div>
<div class="container">


    console.log(parseInt('10+2')); //10</div>
<div class="container">
    console.log(parseInt('7FM')); //7</div>
<div class="container">
    console.log(parseInt('M7F')); //NaN</div>
<div class="container">


    console.log(isNaN('sai')) //true</div>
<div class="container">

    console.log([1,2].map(num=>&#123;if(num > 0) return;return num*2&#125;)) //[undefined, undefined]</div>
<div class="container">

    function example1()&#123;
    return ;
    &#125;

    console.log(example1()) //undefined</div>
<div class="container">
    "use strict";
    &#123;
    function example2()&#123;
    console.log('praveen')
    &#125;
    &#125;

    example2() //praveen</div>
<div class="container">


    function sum(a,b)&#123;
    'use strict';
    a=100;
    b=200;
    return arguments[0] + arguments[1];
    &#125;
    console.log(sum(200,300)) //500;</div>
<div class="container">

    let arr = [100,200,300,400,500];
    let arrSlice = arr.slice(1,4)
    console.log(arrSlice) //[200,300,400] new array</div>