.container{
    display: flex;

}

ul{
    list-style: none;
    padding: 8px;
    li{
        font-size: 20px;
        padding: 8px 0px;
        cursor: pointer;
    }
}

.right-content{
    border-right: 1px solid #e8e8e8;
}

.left-content{
    padding-left: 16px;
}